@{
  ViewData["Title"] = "Index";
}
@{
  var user = session.GetUser();
}
<input type="hidden" id="auth" value="@Convert.ToInt32(user.Authorization)" />


<link href="~/Modernize/DevextremeCss/css/dx.common.css" rel="stylesheet" />
<link href="~/Modernize/DevextremeCss/css/dx.light.css" rel="stylesheet" />

<div class="main-content">
  <section class="section">
    <div class="row">
      <div class="col-md-12" style="padding-top: 40px; padding-right: 40px; padding-left: 40px;">
        <div class="card card-primary">
          <div class="card-content collapse show">
            <div class="card-body card-dashboard">
              <h3>Versiyonlar</h3>
              <div class="demo-container">
                <div id="versionGridContainer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12" style="padding-top: 40px; padding-right: 40px; padding-left: 40px;">
        <div class="card card-primary">
          <div class="card-content collapse show">
            <div class="card-body card-dashboard">
              <h3>Modüller/Süreçler</h3>
              <div class="demo-container">
                <div id="modulesGridContainer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

@section Scripts
{
  <script src="~/js/Page/Defination/Index.js"></script>
}