@using RegistaMaster.Domain.DTOModels.ChartModels;

<div class="row justify-content-md-center" style="padding-top: 80px; padding-right: 40px; padding-left: 40px; padding-bottom:40px">
   <div class="col-6">
      <label>AKSİYONLARIM</label>
      <div id="chartdiv" style="width: 98%; height: 230px; float: left; padding-top:10px"></div>
   </div>
</div>

<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script>
   am5.ready(function () {

      var root1 = am5.Root.new("chartdiv");

      root1.setThemes([
         am5themes_Animated.new(root1)
      ]);

      var chart1 = root1.container.children.push(
         am5percent.PieChart.new(root1, {
            layout: root1.verticalLayout
         })
      );


      var data1 = ([{
         actionstatus: "Başlamadı",
         value: @ViewBag.Chart.NotStarted
               }, {
         actionstatus: "Devam Ediyor",
         value: @ViewBag.Chart.Continued
               }, {
         actionstatus: "Tamamlandı",
         value: @ViewBag.Chart.Completed
               }, {
         actionstatus: "İptal/Reddedildi",
         value: @ViewBag.Chart.Cancel
               }]);


      var series1 = chart1.series.push(
         am5percent.PieSeries.new(root1, {
            name: "Series",
            valueField: "value",
            categoryField: "actionstatus",
            legendLabelText: "{category}",
            legendValueText: "{value}"
         })
      );
      series1.slices.template.set('tooltipText', '{category}: {value}');
      series1.labels.template.set('text', '{category}: {value}');
      series1.get("colors").set("colors", [
         am5.color(0xffdfba),
         am5.color(0xbae1ff),
         am5.color(0xbaffc9),
         am5.color(0xffb3ba)
      ]);
      series1.data.setAll(data1);


   }); // end am5.ready()
</script>