@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>



<link href="~/Modernize/DevextremeCss/css/dx.common.css" rel="stylesheet" />
<link href="~/Modernize/DevextremeCss/css/dx.light.css" rel="stylesheet" />


<div class="main-content">
    <div class="row">
        <div class="col-12" style="padding-top: 40px; padding-right: 40px; padding-left: 40px;">
            <div class="card card-primary">
                <div class="card-header">
                </div>
                <div class="card-content collapse show">
                    <div class="heading-elements">
                    </div>
                    <div class="card-body card-dashboard">
                        <h3>Aksiyonlar</h3>
                        <div class="demo-container">
                            <div id="actionsGridContainer"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <script src="/js/Page/Home/Index.js"></script>
}