@using RegistaMaster.Domain.Enums
@model RegistaMaster.Domain.DTOModels.Entities.ActionModels.ActionDTO

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
   var user = session.GetUser();
}
<input type="hidden" id="userID" value="@user.ID" />
<input type="hidden" id="auth" value="@Convert.ToInt32(user.Authorization)" />


<link href="~/Modernize/DevextremeCss/css/dx.common.css" rel="stylesheet" />
<link href="~/Modernize/DevextremeCss/css/dx.light.css" rel="stylesheet" />


<div class="main-content">
    <div class="row">
       <div class="col-12">
         @switch (user.Authorization)
         {
            case AuthorizationStatus.Admin:
               <partial name="ChartPartials/AdminChartPartial" />
               break;
            case AuthorizationStatus.TeamsLeader:
               <partial name="ChartPartials/TeamLeaderChartPartial" />
               break;
            case AuthorizationStatus.Developer:
               <partial name="ChartPartials/DeveloperChartPartial" />
               break;
         }
       </div>
        <div class="col-12" style="padding-top: 40px; padding-right: 40px; padding-left: 40px;">
            <div class="card card-primary">
                <div class="card-header">
                </div>
                <div class="card-content collapse show">
                    <div class="heading-elements">
                    </div>
                    <div class="card-body card-dashboard">
                        <h3>Aksiyonlar</h3>
                        <div class="demo-container">
                            <div id="actionsGridContainer"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@* Aksiyon Durumu Güncelleme *@
<div class="modal fade" id="changeActionStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Değiştirmek İstediğiniz Durumu Seçiniz</h5>
            </div>
            <div class="modal-body">
                <input hidden id="actionID" />
                <select asp-for="ActionStatus" id="actionSelect" asp-items="Html.GetEnumSelectList<RegistaMaster.Domain.Enums.ActionStatus>()" class="form-control select2"></select>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="closeModal()" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" onclick="ChanceActionStatus()" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>



@* Aksiyon Detayını Gösteren Modal *@
<div class="modal fade" id="ActionDetail" tabindex="-1" role="dialog" aria-labelledby="büyükModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="büyükModalLabel">Aksiyon Detayı</h5>

            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="form-group col-md-6">
                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Açılma Tarihi:</label>
                        <input asp-for="OpeningDate" type="date" required class="form-control" name="OpeningDate" />
                        <h1></h1>
                    </div>
                    <div class="form-group col-md-6">
                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Hedef Tarih:</label>
                        <input asp-for="EndDate" type="date" required class="form-control" name="EndDate" />
                        <h1></h1>
                    </div>
                    <div class="form-group col-md-6">
                        <label style="font-weight:bold;" class="col-form-label">Aksiyonu Açan Kişi:</label>
                            <input asp-for="LastModifiedBy" type="text" required class="form-control" name="LastModifiedBy" />
                            <h1></h1>
                    </div>
                    <div class="form-group col-md-6">
                        <label style="font-weight:bold;padding-top: 9px;padding-bottom: 9px;">Konu:</label>
                        <input asp-for="ActionDescription" type="text" required class="form-control" name="ActionDescription" />
                        <h1></h1>
                    </div>
                    <div class="form-group col-md-6">
                        <label style="font-weight:bold;">Açıklama:</label>
                        <textarea asp-for="Description" type="text" required class="form-control" name="Description"></textarea>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

<!--Aksiyon Ayrıntıları Modal-->
<div class="modal fade" id="DetailAction" aria-labelledby="DetailActionLabel" tabindex="-1" style="display: none;" aria-hidden="true">
   <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content" id="clear">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="DetailActionLabel">Aksiyon Detayı</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" id="CloseModal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form>
               <div class="row">
                  <div class="col-4">
                     <label style="font-weight:bold;">Aksiyondan Sorumlu Kişi</label>
                     <input class="form-control mt-2" readonly id="actionDetailResponsible" />
                  </div>
                  <div class="col-4">
                     <label style="font-weight:bold;">Aksiyon Öncelik Durumu</label>
                     <input class="form-control mt-2" readonly id="actionDetailActionPriority"/>
                  </div>
                  <div class="col-4">
                     <label style="font-weight:bold;">Aksiyon Durumu</label>
                     <input id="actionDetailStatus" readonly class="form-control mt-2"/>
                  </div>
                  <div class="col-6 mt-3">
                     <label style="font-weight:bold;">Aksiyon Başlangıç Tarihi</label>
                     <input class="form-control mt-2" readonly id="actionDetailOpeningDate" />
                  </div>
                  <div class="col-6 mt-3">
                     <label style="font-weight:bold;">Aksiyon Bitiş Tarihi</label>
                     <input class="form-control mt-2" readonly id="actionDetailEndDate" />
                  </div>
                  <div class="col-12 mt-3">
                     <label style="font-weight:bold;">Aksiyon Konusu</label>
                     <input class="form-control mt-2" readonly id="actionDetailActionDescription" />
                  </div>
                  <div class="col-12 mt-3">
                     <label style="font-weight:bold;">Aksiyon Açıklama</label>
                     <textarea class="form-control mt-2" readonly id="actionDetailDescription" rows="6"></textarea>
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Kapat</button>
         </div>
      </div>
   </div>
</div>

@section Scripts {
    <script src="/js/Page/Home/Index.js"></script>
}