@model RegistaMaster.Domain.DTOModels.Entities.ActionModels.ActionDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<link href="~/Modernize/DevextremeCss/css/dx.common.css" rel="stylesheet" />
<link href="~/Modernize/DevextremeCss/css/dx.light.css" rel="stylesheet" />

<div class="main-content">
    <div class="row">
        <div class="col-12" style="padding-top: 40px; padding-right: 40px; padding-left: 40px;">
            <div class="card card-primary">
                <div class="card-header">
                </div>
                <div class="card-content collapse show">
                    <div class="heading-elements">
                        @*<div class="row col-md-2" style="position:absolute; right:15px; margin:15px;">
                        <a asp-action="Create" asp-controller="Action" class="btn btn-primary"><i class="ion ion-android-add"></i>Yeni Aksiyon Ekle</a>
                        </div>*@
                    </div>
                    <div class="card-body card-dashboard">
                        <h3>Aksiyonlar</h3>

                        <div class="demo-container">
                            <div id="actionGridContainer"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@* Aksiyon Durumu Güncelleme *@
<div class="modal fade" id="changeActionStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Değiştirmek İstediğiniz Durumu Seçiniz</h5>
            </div>
            <div class="modal-body">
                <input hidden id="actionID" />
                <select asp-for="ActionStatus" required id="actionSelect" asp-items="Html.GetEnumSelectList<RegistaMaster.Domain.Enums.ActionStatus>()" class="form-control select2">
                    <option selected="selected" value="-1">Lütfen Seçiniz</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="closeModal()" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" onclick="saveModal()" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
    {

    <script src="~/js/Page/Action/Index.js"></script>


}