@model RegistaMaster.Domain.DTOModels.Entities.TaskModel.TaskDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<style type="text/css">

    .modal-body2 {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }

    .target {
        border: solid 1px #aaa;
        min-height: 200px;
        width: 90%;
        margin-top: 1em;
        border-radius: 5px;
        cursor: pointer;
        transition: 300ms all;
        position: relative;
    }

    .contain {
        background-size: cover;
        position: relative;
        z-index: 10;
        top: 0px;
        left: 0px;
    }

    textarea {
        background-color: white;
    }

    .actives {
        box-shadow: 0px 0px 10px 10px rgba(0,0,255,.4);
    }
</style>



<div class="main-content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                </div>
                <div class="card-content collapse show">
                    <div class="heading-elements">
                        <div class="row col-md-2" style="position:absolute; right:15px; margin:15px;">
                            <button type="button" onclick="SaveTask()" class="btn btn-success">Kaydet</button>
                        </div>
                    </div>
                    <div class="card-body card-dashboard">
                        <h3>Görevler</h3>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Konu:<span class="text-danger"></span></label>
                                        <div class="col-md-9">
                                            <input asp-for="Title" type="text" required class="form-control" name="Title" />
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label style="font-weight:bold;" class="col-md-2">Planlanan Başlangıç Tarihi:<span class="text-danger"></span></label>
                                        <div class="col-md-9">
                                            <input asp-for="PlanedStart" type="date" required class="form-control" name="PlanedStart" />
                                            <span asp-validation-for="PlanedStart" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Açıklama:<span class="text-danger"></span></label>
                                        <div class="col-md-9">
                                            <input asp-for="Description" type="text" required class="form-control" name="Description" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Sorumlu:<span class="text-danger"></span></label>
                                        <div class="col-md-9">
                                            <select asp-for="ResponsibleID" asp-items="@Model.ResponsiblehelperModelList" id="ResponsibleID" name="ResponsibleID" class="form-control select2">
                                                <option selected="selected" disabled value="0">Lütfen Seçiniz</option>
                                            </select>
                                            <span asp-validation-for="ResponsibleID" class="text-danger" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Durum:<span class="text-danger"></span></label>
                                        <div class="col-md-9">
                                            <select asp-for="TaskStatus" required asp-items="Html.GetEnumSelectList<RegistaMaster.Domain.Enums.TaskStatus>()" class="form-control select2">
                                                <option selected="selected" disabled value="-1">Lütfen Seçiniz</option>
                                            </select>
                                            <span asp-validation-for="TaskStatus" class="text-danger" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Öncelik:<span class="text-danger"></span></label>
                                        <div class="col-md-9">
                                            <select asp-for="PriorityStatus" required asp-items="Html.GetEnumSelectList<RegistaMaster.Domain.Enums.PriorityStatus>()" class="form-control select2">
                                                <option selected="selected" disabled value="-1">Lütfen Seçiniz</option>
                                            </select>
                                            <span asp-validation-for="PriorityStatus" class="text-danger" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label style="font-weight:bold;" class="col-md-2 col-form-label">Talep Seçiniz:<span class="text-danger"></span></label>
                                        <div class="col-md-9">
                                            <select asp-for="RequestID" asp-items="@Model.RequestModelList" id="RequestID" name="RequestID" class="form-control select2">
                                                <option selected="selected" disabled value="0">Lütfen Seçiniz</option>
                                            </select>
                                            <span asp-validation-for="RequestID" class="text-danger" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-4 label-control">Görüntü <br /> <span class="text-black-50">(WINDOWS Kullanıcıları İçin, Windows + Shift + S Tuş Kombinasyonu veya PRTSC Tuşu İle Resminizi Kopyalayıp (CTRL+C / CTRL+V) Yapıştırabilirsiniz. MAC Kullanıcıları İçin Shift + Command + 4 Tuş Kombinasyonu İle Yapabilir)</span></label>
                                        <div class="col-md-8">
                                            <div class="span4 target"></div>

                                        </div>
                                    </div>
                                    <textarea name="base64" hidden id="base64" cols="30" rows="10" class="data span12"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModaltitle2">Görüntü</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-md-9">
                                <div class="thumbnail">
                                    <img style="max-height: 500px !important; width: 130% !important;" src="~/Modernize/Img/yok.png" id="imgModal" class=" rounded float-left" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/js/Page/Task/TaskCreate.js"></script>
}