@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>




<link href="~/Modernize/DevextremeCss/css/dx.common.css" rel="stylesheet" />
<link href="~/Modernize/DevextremeCss/css/dx.light.css" rel="stylesheet" />


<div class="main-content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                </div>
                <div class="card-content collapse show">
                    <div class="heading-elements">
                        <div class="row col-md-2" style="position:absolute; right:15px; margin:15px;">
                            <a asp-action="Create" asp-controller="Task" class="btn btn-primary"><i class="ion ion-android-add"></i>Yeni Görev</a>
                        </div>
                    </div>
                    <div class="card-body card-dashboard">
                        <h3>Görevler</h3>
                        <div class="demo-container">
                            <div id="tasksGridContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="taskStatusModal" tabindex="-1" role="dialog" aria-labelledy="myModellabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-footer">
                <button type="button" onclick="closeModal()" class="btn btn-secondary">Kapat</button>
                <button type="button" onclick="changeStatus()" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/js/Page/Task/Index.js"></script>
}